## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
      <div class="colophon">
          <nav class="nav-colophon">
            <ol>
                <li><a href="${reverse('tos')}">Terminos y condiciones</a></li>
                <li><a href="${reverse('tos')}#privacy">Política de privacidad</a></li>
                <li><a href="${reverse('tos')}#honor">Código de honor</a></li>
                <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
                <li><a href="${reverse('about_edx')}#contact">Contacto</a></li>
            </ol>
          </nav>
      </div>
      <div class="references">
          <span><a href="http://code.edx.org"><img src="${static.url('themes/claseabierta/images/edx-openedx-logo-tag-light.png')}" alt="By edx" /></a>.</span>
      </div>
    </footer>
</div>
